body {
  margin: 0;
  font-family: "Cursed Timer ULiL", sans-serif;
  margin-top: 46px;
}

h3 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #eeeeee;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #fdb927;
  width: 120px;
  margin: 20px;
  font-weight: 400;
  line-height: 127px;
  text-align: center;
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  height: 400px;
  margin: auto;
  background-color: #552583;
  border-radius: 16px;
  border: 8px solid #fdb927;
}

button {
  background: none;
  width: 45px;
  height: 45px;
  font-size: 24px;
  color: #eeeeee;
  font-family: "Cursed Timer ULiL", sans-serif;
  border: 2px solid #9aabd8;
  border-radius: 5px;
}
